.goal-logo {
    font-size: 3rem;
}

.goal-summary {
    cursor: pointer;
}
.goal-summary>h6 {
    margin-bottom: 0rem;
}

.goal-progress {
    height: 0.5rem;
}

.goal-title {
    margin-left: 2px;
}

.goal-card {
    margin-bottom: 6px;
}
  