<h1>Goal Planner</h1>
<app-goal 
  *ngFor="let goal of goals"
  [goal]="goal">
</app-goal>

<button 
  type="button" 
  role="button"
  class="btn btn-outline-success m-1"
  (click)="addGoal()"><i class="fa fa-plus"></i> Add Goal</button>
  <div class="g-signin2" data-onsuccess="onSignIn"></div>
  <button type="button" role="button" class="btn" (click)="logOut()">Logout</button>
  <button type="button" role="button" class="btn" (click)="validateUser()">ValidateUser</button>
  <p>
  {{ message }}
  </p>
  
